@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-[20px] bg-slate-200;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[20px] bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-darkPrimary;
  }

  .content img {
    @apply mx-auto;
  }
}

@layer components {
  .form-control {
    @apply border-none ring-1 ring-gray-200 focus:ring-primary;
  }

  .input-error {
    @apply ring-2 ring-red-500 focus:ring-2 focus:ring-red-500;
  }

  .error-message {
    @apply text-red-500 italic text-left;
  }
}

h1 span {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

h2 span {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

pre {
  border-radius: 0px !important;
}

/* pre line-height */
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
  margin: 3px 0;
}

.DraftEditor-editorContainer {
  max-height: calc(100vh - 120px);
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .DraftEditor-editorContainer {
    max-height: calc(100vh - 300px);
  }
}
